<mat-card class="hero-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img class="hero-card__avatar" src="{{hero.avatarURL}}" alt="{{hero.name}} avatar">
    </div>
    <mat-card-title>{{hero.name}}</mat-card-title>
    <mat-card-subtitle>{{faction[hero.faction]}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      atk: {{hero.atk}}
      def: {{hero.def}}
      <br>
      description: {{hero?.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="ableToBuy" mat-raised-button (click)="buyCharacter()">
      <mat-icon aria-hidden="false" aria-label="Buy character icon">shop</mat-icon>
    </button>

    <button mat-raised-button (click)="starToggle()" [ngClass]="isStarred ? 'star-active' : null">
      <mat-icon aria-hidden="false" aria-label="Star character icon">star</mat-icon>
    </button>

    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>insights</mat-icon>
          <span>Current CP : {{currentCP}}</span>
        </button>

        <button class="green" mat-menu-item>
          <mat-icon>face</mat-icon>
          <span>Obtained?</span>
        </button>
      </mat-menu>
    </div>
  </mat-card-actions>
</mat-card>
