<div>
  <p>You CP: {{teamCP}} vs Enemy CP: {{enemyCP}}</p>
  <div *ngIf="hasMoreChapters">
    <button [disabled]="timeToEndBattle > 0" mat-flat-button color="primary" (click)="startFight()">Start</button>

    <button class="ml-3" mat-flat-button color="primary" (click)="onTeamHelp()">Help team!</button>

    <button class="ml-3" mat-flat-button color="primary" (click)="onCheat()">Extra cash</button>
  </div>

  <h1>
    {{fightProgress}}
  </h1>
  <div>
    <button mat-flat-button
            color="accent"
            (click)="collectAFKMoney()"
            [disabled]="!isAbleToCollectAfkMoney"
    >
      Collect resources
    </button>
  </div>

  <p *ngIf="hasMoreChapters">Current progress: Chapter: 1, stage: {{currentChapter}}</p>
  <p *ngIf="!hasMoreChapters">Congratulations, all chapters completed</p>

  <div *ngIf="timeToEndBattle > 0">
    <h1>Fight in progress</h1>
    {{timeToEndBattle / 100}}
  </div>
</div>
