.heroes-list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  grid-gap: 30px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
