<mat-card class="hero-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img class="hero-card__avatar" src="{{hero.avatarURL}}" alt="{{hero.name}} avatar">
    </div>

    <mat-card-title>{{hero.name}}</mat-card-title>

    <mat-card-subtitle>{{faction[hero.faction]}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{hero.description}}
      <br>
      <br>
      atk: {{hero.atk}}
      def: {{hero.def}}
      <br>
      Current CP: {{currentCP}}
      <br>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <span [matTooltip]="ableToBuy ? characterCostText : 'Sorry, You can\' afford this character'">
      <button *ngIf="shopUI"
              [disabled]="!ableToBuy"
              (click)="buyCharacter()"
              mat-raised-button
      >
        <mat-icon aria-hidden="false" aria-label="Buy character icon">shop</mat-icon>
      </button>
    </span>

    <button (click)="starToggle()" [@starToggling]="isStarred" (@starToggling.done)="afterStarToggle($event)"
            mat-raised-button>
      <mat-icon aria-hidden="false" aria-label="Star character icon">star</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
