<mat-card class="hero-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <img class="hero-card__avatar" src="{{hero.avatarURL}}" alt="{{hero.name}} avatar">
    </div>

    <mat-card-title>{{hero.name}} - {{hero.lvlCurrent}}lvl</mat-card-title>

    <mat-card-subtitle>{{faction[hero.faction]}}</mat-card-subtitle>

    <app-ascension-badge class="hero-card__ascension-badge" [ascensionLvl]="hero.ascensionLvl"></app-ascension-badge>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{hero.description}}
      <br>
      <br>
      atk: {{hero.atk}}
      def: {{hero.def}}
      <br>
      Current CP: {{currentCP}}
      <br>
    </p>
    <div>
      Upgrade cost
      <br>
      <div *ngFor="let cost of upgradeCost">
        {{cost.resourceType}}: {{cost.amount}}
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <span *ngIf="canBeLeveledUp || !shopUI" [matTooltip]="canBeLeveledUp ? 'Upgrade!' : 'Sorry, Your character reached level cap. Ascension will let Your hero advance further.'">
      <button [disabled]="!canBeLeveledUp" (click)="levelUp()" mat-raised-button>
        <mat-icon aria-hidden="false" aria-label="Buy character icon">upgrade</mat-icon>
      </button>
    </span>


    <button (click)="starToggle()" [@starToggling]="isStarred" (@starToggling.done)="afterStarToggle($event)"
            mat-raised-button>
      <mat-icon aria-hidden="false" aria-label="Star character icon">star</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
