/* You can add global styles to this file, and also import other style files */
@import "bootstrap-4-utilities.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

.heroes-list {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  grid-gap: 30px;
}
